@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* --primary-color:#2D82B7 */
  /* --primary-color:#1F01B9 */
  --primary-color: #f5dc00 /* --primary-color:#157de7 */;
  --text-soft: #777575;
  --bgSoft: #f0f0f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

body {
  display: flex;
  /* fl: column; */
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid pink;
}
.dashboard-layout {
  flex: 1;
  height: 100%;
  /* border: 1px solid black; */
}

.container {
  max-width: 1366px;
  margin: auto;
  /* height: 100%; */
  /* background-color: #EBF2FA; */
  /* border-radius: .8rem; */
}

.exam-window-section {
  display: grid;
  flex: 1;
  background-color: var(--bgSoft);
  height: 100%;
  /* border: 1px solid red; */
}

/* =================================================ScrollBar======================================================== */
/* Scrollbar track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(80, 78, 78, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

/* Scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(192, 191, 191, 0.3);
  background-color: #b3b3b3;
}

/* =================================================ScrollBar End==================================================== */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
