.login-section {
  height: 100%;
  border: 1px solid black;
  display: flex;
  .container {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px red solid;
    height: 100%;
  }
}
